scala/target
scala/project/project
scala/project/target
rust/target
node/node_modules
clojure/target
.lein-repl-history
nimcache
/nim/benchmark
*.psl.o
*.psl.s
parasail/benchmark
errors.err
erlang/*.beam
java/target
java/project
