cuda/build
cuda/.metadata
cuda/RemoteSystemsTempFiles
scala/target
scala/project/project
scala/project/target
rust/target
node/node_modules
clojure/target
.lein-repl-history
nimcache
/nim/benchmark
*.psl.o
*.psl.s
parasail/benchmark
errors.err
erlang/*.beam
elixir/*.beam
java/target
java/project
java8/target
ocaml/_build
ocaml/*.byte
ocaml/*.native
kotlin/target
lua/dkjson.lua
c/*.o
c/kmeans
haskell/.cabal-sandbox
haskell/dist
haskell/cabal.sandbox.config
d/main
d/main.o
x10/cbin
x10/javabin
x10/javalib/jsonRead.jar
